In [5]:
2 ** 100

1267650600228229401496703205376

In [6]:
import time

In [15]:
지역 = input("어디 사는 가요? ")
print("{}에 살고 계시는 군요.".format(지역))

어디 사는 가요? seoul
seoul에 살고 계시는 군요.

In [9]:
print("hello")
time.sleep(5)  # 5초 딜레이
print("world")

hello
world

# Pandas 맛보기

In [17]:
import pandas as pd

pd.__version__

'0.23.4'

In [19]:
df_list = pd.read_html('https://finance.naver.com/marketindex/exchangeList.nhn')
df = df_list[0]
df.set_index('')

,통화명,매매기준율,현찰,송금,미화환산율,Unnamed: 5_level_0,Unnamed: 6_level_0
,사실 때,파실 때,보내실 때,받으실 때,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,미국 USD,1142.90,1162.90,1122.90,1154.10,1131.70,1.000
1,유럽연합 EUR,1283.42,1308.96,1257.88,1296.25,1270.59,1.123
2,일본 JPY (100엔),1026.26,1044.21,1008.31,1036.31,1016.21,0.898
3,중국 CNY,169.94,178.43,161.45,171.63,168.25,0.149
4,홍콩 HKD,145.60,148.46,142.74,147.05,144.15,0.127
5,대만 TWD,37.03,41.88,34.44,0.00,0.00,0.032
6,영국 GBP,1493.71,1523.13,1464.29,1508.64,1478.78,1.307
7,오만 OMR,2968.49,3232.68,2790.39,0.00,0.00,2.597
8,캐나다 CAD,854.31,871.13,837.49,862.85,845.77,0.748
9,스위스 CHF,1144.79,1167.34,1122.24,1156.23,1133.35,1.002
10,스웨덴 SEK,123.00,126.01,119.99,124.23,121.77,0.108
11,호주 AUD,810.60,826.56,794.64,818.70,802.50,0.709
12,뉴질랜드 NZD,769.40,784.55,754.25,777.09,761.71,0.673
13,체코 CZK,50.04,54.29,45.54,50.59,49.49,0.044
14,칠레 CLP,1.72,1.85,1.59,0.00,0.00,0.002
15,터키 TRY,202.76,233.37,182.89,204.99,200.53,0.177
16,몽골 MNT,0.43,0.00,0.00,0.00,0.00,0.000
17,이스라엘 ILS,318.88,350.76,293.37,0.00,0.00,0.279
18,덴마크 DKK,171.92,176.13,167.71,173.63,170.21,0.150
19,노르웨이 NOK,132.84,136.09,129.59,134.16,131.52,0.116
20,사우디아라비아 SAR,304.73,323.92,283.71,307.77,301.69,0.267
21,쿠웨이트 KWD,3754.11,3998.12,3453.79,3791.65,3716.57,3.285
22,바레인 BHD,3031.48,3225.49,2788.97,3061.79,3001.17,2.652
23,아랍에미리트 AED,311.15,328.26,289.69,314.26,308.04,0.272
24,요르단 JOD,1611.99,1755.45,1483.04,0.00,0.00,1.410
25,이집트 EGP,65.94,0.00,0.00,0.00,0.00,0.058
26,태국 THB,35.76,37.54,33.62,36.11,35.41,0.031
27,싱가포르 SGD,842.85,859.62,826.08,851.27,834.43,0.738
28,말레이시아 MYR,278.59,296.14,257.98,0.00,275.81,0.244
29,인도네시아 IDR 100,8.09,8.65,7.29,8.17,8.01,0.007
30,카타르 QAR,313.88,0.00,0.00,0.00,0.00,0.275
31,카자흐스탄 KZT,3.00,0.00,0.00,0.00,0.00,0.003
32,브루나이 BND,842.85,876.56,792.28,0.00,0.00,0.738
33,인도 INR,16.45,0.00,0.00,0.00,0.00,0.014
34,파키스탄 PKR,8.07,0.00,0.00,0.00,0.00,0.007
35,방글라데시 BDT,13.56,0.00,0.00,0.00,0.00,0.012
36,필리핀 PHP,21.88,24.06,20.09,22.09,21.67,0.019
37,멕시코 MXN,59.86,65.84,54.84,60.45,59.27,0.052
38,브라질 BRL,295.16,325.26,271.55,0.00,291.62,0.258
39,베트남 VND 100,4.93,5.51,4.35,4.97,4.89,0.004
40,남아프리카 공화국 ZAR,80.87,85.72,74.41,81.84,79.90,0.071
41,러시아 RUB,17.47,18.69,15.55,17.64,17.30,0.015
42,헝가리 HUF,4.00,4.37,3.68,4.04,3.96,0.004
43,폴란드 PLN,299.09,323.01,275.17,302.37,295.81,0.262