In [2]:
%matplotlib inline

from matplotlib import rc
import numpy as np
import pandas as pd

rc('font', family='Malgun Gothic')  # 윈도우
# rc('font', family='AppleGothic')  # 맥

In [4]:
CCTV_Seoul = pd.read_csv('./data/pinkwink/01. CCTV_in_Seoul.csv')
print(CCTV_Seoul.shape)
CCTV_Seoul.head()

(25, 6)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [ ]:
# 한 번에 다 바꾸기
# CCTV_Seoul.columns = ['구별', '소계', '2013년도 이전', '2014년도', '2015년도', '2016년도']

In [13]:
CCTV_Seoul = CCTV_Seoul.rename(
    columns={'기관명': '구별'}
)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [21]:
pop_Seoul = pd.read_excel(
    './data/pinkwink/01. population_in_Seoul.xls',
    header=2,
    usecols = 'B, D, G, J, N')
    
# pop_Seoul = pop_Seoul.iloc[:, [1, 3, 6]]

pop_Seoul.columns = [
    '구별', '인구수', '한국인', '외국인', '고령자',
]

print(pop_Seoul.shape)
pop_Seoul.head()

(27, 5)

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [31]:
# pop_Seoul.index = pd.date_range('20190101', periods=27, freq='D')

pop_Seoul.index = range(27)
pop_Seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [39]:
pop_Seoul.values  # numpy의 ndarray

array([['합계', 10197604.0, 9926968.0, 270636.0, 1321458.0],
       ['종로구', 162820.0, 153589.0, 9231.0, 25425.0],
       ['중구', 133240.0, 124312.0, 8928.0, 20764.0],
       ['용산구', 244203.0, 229456.0, 14747.0, 36231.0],
       ['성동구', 311244.0, 303380.0, 7864.0, 39997.0],
       ['광진구', 372164.0, 357211.0, 14953.0, 42214.0],
       ['동대문구', 369496.0, 354079.0, 15417.0, 54173.0],
       ['중랑구', 414503.0, 409882.0, 4621.0, 56774.0],
       ['성북구', 461260.0, 449773.0, 11487.0, 64692.0],
       ['강북구', 330192.0, 326686.0, 3506.0, 54813.0],
       ['도봉구', 348646.0, 346629.0, 2017.0, 51312.0],
       ['노원구', 569384.0, 565565.0, 3819.0, 71941.0],
       ['은평구', 494388.0, 489943.0, 4445.0, 72334.0],
       ['서대문구', 327163.0, 314982.0, 12181.0, 48161.0],
       ['마포구', 389649.0, 378566.0, 11083.0, 48765.0],
       ['양천구', 479978.0, 475949.0, 4029.0, 52975.0],
       ['강서구', 603772.0, 597248.0, 6524.0, 72548.0],
       ['구로구', 447874.0, 416487.0, 31387.0, 56833.0],
       ['금천구', 255082.0, 236353.0, 18729.0, 32970.0],
       ['영등포구', 402985.0, 368072.0, 34913.0, 52413.0],
       ['동작구', 412520.0, 400456.0, 12064.0, 56013.0],
       ['관악구', 525515.0, 507203.0, 18312.0, 68082.0],
       ['서초구', 450310.0, 445994.0, 4316.0, 51733.0],
       ['강남구', 570500.0, 565550.0, 4950.0, 63167.0],
       ['송파구', 667483.0, 660584.0, 6899.0, 72506.0],
       ['강동구', 453233.0, 449019.0, 4214.0, 54622.0],
       [nan, nan, nan, nan, nan]], dtype=object)

In [42]:
CCTV_Seoul.sort_values('소계').head()

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

In [43]:
CCTV_Seoul.sort_values('소계', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [54]:
최근3년 = (CCTV_Seoul['2014년'] + CCTV_Seoul['2015년'] + CCTV_Seoul['2016년'])
최근증가율 = 100 * 최근3년 / CCTV_Seoul['2013년도 이전']
CCTV_Seoul['최근증가율'] = 최근증가율
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0  강남구  2780       1292    430    584    932  150.619195
1  강동구   773        379     99    155    377  166.490765
2  강북구   748        369    120    138    204  125.203252
3  강서구   884        388    258    184     81  134.793814
4  관악구  1496        846    260    390    613  149.290780